.ListPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin: 10px;
    padding: 0;
    width: 70%;

    .listItem {
        height: 140px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 4px 12px 0px #00000026;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .HeaderItem {
            display: flex;
            justify-content: space-between;
            .HeaderTitle {
            .HeaderLeft {
                display: flex;
                gap: 20px;

            }
            .tags {
                list-style: none;
                display: flex;
                padding: 0;
                padding-top: 10px;
                align-items: flex-start;
                gap: 5px;
                .tag {
                    padding: 1px 3px;
                    border-radius: 2px;
                    border: 1px solid #00000080;
                    font-weight: 400;
                }
            }
        }
            .HeaderRight {
                display: flex;
                align-items: center;
                gap: 20px;
                flex-wrap: wrap;
                height: auto;

                h3 {
                    margin: 0;
                    padding: 0;
                }

                img {
                    width: 46px;
                    height: 46px;
                }
            }
        h2 {
            color: #1890FF;
            font-weight: 400;
            margin: 0;
            padding: 0;
        }
        .LikeCounterUncheked {
            font-size: 1rem;
            color: black;
                ::before {
                    content: "   ";
                    position: relative;
                    left: -5px;
                    background-image: url(Like.svg);
                    background-size: 100%;
                    background-position: 50% 70%;
                    background-repeat: no-repeat;
                }
        } 
        .LikeCounterCheked {
            font-size: 1rem;
            color: black;
                ::before {
                    content: "   ";
                    position: relative;
                    left: -5px;
                    background-image: url(LikeFill.svg);
                    background-size: 100%;
                    background-position: 50% 70%;
                    background-repeat: no-repeat;
                }
        }   
    }

        .DescPost {
            width: 80%;

            font-size: 0.8rem;
        }
    }
}
.antpaginationitemlink {
    background-image: none !important;
  }