.CreateArticle {
    width: '80%' !important;
    box-shadow: 0px 0.61px 2.93px 0px #00000005,
                0px 1.46px 7.05px 0px #00000007,
                0px 2.75px 13.27px 0px #00000009,
                0px 4.91px 23.68px 0px #0000000B,
                0px 9.19px 44.28px 0px #0000000D,
                0px 22px 106px 0px #00000012;

}


.sendBtn {
    border: none;
    width: 37%;
    font-size: 14px;
    line-height: 1.5714285714285714;
    height: 32px;
    font-size: 1em;
    padding: 4px 15px;
    border-radius: 4px;
    padding: 8px, 16px, 8px, 16px;
    color: #fff;
    background: #1677ff;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}